.home-page {
  display: flex;
  flex-direction: column;
  font-family: 'Axiforma';
}

.home-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-top: 50px;
}

.home-image {
  position: absolute;
  top: 0;
  width: auto;
  height: 85vh;
  margin-top: 2px;
}

.home-image.left {
  left: 0;
}

.home-image.right {
  right: 0;
}

.home-content {
  margin: auto;
  text-align: center;
  z-index: 1;
}

@media (max-width: 1270px) {
  .home-image {
      display: none;
  }
}

.tarif {
  margin-top: 40px;
  text-align: center;
}

.tarif-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarif-content p {
  width: 50%;
}

.home-content h1 {
  font-weight: 600;
  font-size: 40px;
  font-stretch: normal;
  letter-spacing: normal;
  margin-bottom: 0px;
}

body.light .home-content h1 {
  color: rgb(8 31 77);
}

body.dark .home-content h1 {
  color: #ccc;
}

.pink-title {
  color: #ff69b4;
}

.home-content p {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  margin-bottom: 10px;
}

body.light .home-content p {
  color: rgb(98 118 157);
}

body.dark .home-content p {
  color: #bbb;
}

.home-content h3 {
  font-size: 20px;
}

body.light .home-content h3 {
  color: #ff69b4;
}

body.dark .home-content h3 {
  color: #ff69b4,;
}

.box-container {
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.box {
  height: 90px;
  padding: 20px;
  border-radius: 10px;
  padding-bottom: 30px;
  overflow: visible;
  position: relative;
  align-items: stretch;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.light .box {
  background-color: white;
}

body.dark .box {
  background-color: #444;
}

.box:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .box-container {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-flow: row;
      margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .box-container {
      grid-template-columns: repeat(4, 1fr);
      grid-auto-flow: row;
  }
}

@media (max-width: 768px) {
  .box-container {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row;
  }
}

.box_img svg {
  display: block;
  width: 100px;
  height: auto;
  object-fit: contain;
}

.type_title {
  margin-top: 8px;
  font-size: 12px;
  font-weight: bold;
}

body.light .type_title {
  color: #ff69b4;
}

body.dark .type_title {
  color: #fff;
}

.type_description {
  font-size: 12px;
  font-weight: normal;
}

body.light .type_description {
  color: rgb(8 31 77);
}

body.dark .type_description {
  color: #bbb;
}

.nouveau-label {
  position: absolute;
  top: 5px;
  right: -15px;
  transform: rotate(40deg);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 9px;
}

body.light .nouveau-label {
  background-color: rgb(28, 193, 28);
  color: white;
}

body.dark .nouveau-label {
  background-color: #0f0;
  color: #000;
}

.commentaire {
  width: 50%;
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
}

body.light .commentaire {
  color: rgb(98 118 157);
}

body.dark .commentaire {
  color: #bbb;
}

.wink_emoji {
  font-size: 20px;
}

.journals {
  margin-top: 30px;
}

.journals .description {
  font-size: 10px;
  text-align: start;
  font-weight: bold;
  margin-left: -100px;
  margin-bottom: 10px;
}

body.light .journals .description {
  color: rgb(66, 78, 102);
}

body.dark .journals .description {
  color: #ccc;
}

.journal-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  max-width: 300px;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}

.journal-logo {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.journal-logo svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.journal-logo:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .journal-logos {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  }
}

@media (max-width: 576px) {
  .journal-logos {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  }
}

.mobile_image {
  width: 80%;
  margin-bottom: 10px;
  margin-top: 50px;
}

.features {
  text-align: center;
  margin-top: 50px;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
}

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-img svg {
  width: 100px;
  height: auto;
}

.feature-title {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

body.light .feature-title {
  color: #ff69b4;
}

body.dark .feature-title {
  color: #ff69b4;
}

.feature-description {
  margin-top: 10px;
  font-size: 14px;
}

body.light .feature-description {
  color: rgb(98 118 157);
}

body.dark .feature-description {
  color: #bbb;
}

.feature-bold {
  font-weight: bold;
}

body.light .feature-bold {
  color: rgb(98 118 157);
}

body.dark .feature-bold {
  color: #fff;
}

@media (max-width: 768px) {
  .features-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .features-container {
      grid-template-columns: repeat(1, 1fr);
  }
}

.ellipse {
  background-image: url("../../Assets/Forms/ellipse.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.comments {
  margin-top: 50px;
}

.comments_title {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.sections {
  width: 100%;
  min-height: 200vh;
  box-sizing: border-box;
  background-image: url("../../Assets/background-mockup02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0;
  overflow: hidden;
  position: relative;
}

.sections-header h1 {
  font-size: 30px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.section {
  position: absolute;
  padding: 70px 0;
}

.image-1,
.image-2,
.image-3 {
  position: relative;
  background-size: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.image-1 {
  background-image: url("../../Assets/big_number_1.svg");
}

.image-2 {
  background-image: url("../../Assets/big_number_2.svg");
}

.image-3 {
  background-image: url("../../Assets/big_number_3.svg");
}

.section-content {
  position: relative;
  z-index: 1;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.section-content h2 {
  font-size: 35px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
}

body.light .section-content h2 {
  color: #ff69b4;
}

body.dark .section-content h2 {
  color: #ff69b4;
}

.sections p {
  font-size: 16px;
  margin: 0 auto;
  width: 20%;
  text-align: left;
}

body.light .sections p {
  color: #626b77;
}

body.dark .sections p {
  color: #bbb;
}

.section-1 {
  transform: translate(-35%, 50%);
}

.section-2 {
  transform: translate(35%, -10%);
}

.section-3 {
  transform: translateY(50%);
}

@media (max-width: 980px) {
  .sections {
      background-image: url("../../Assets/steps_mobile_mockups_001_p_1080.jpeg");
  }
}

@media (max-width: 1400px) {
  .section-1 {
      transform: translate(-35%, 35%);
  }

  .section-2 {
      transform: translate(35%, -15%);
  }

  .section-3 {
      transform: translateY(50%);
  }

  .sections p {
      width: 25%;
  }
}

@media (max-width: 1200px) {
  .section-1 {
      transform: translate(-35%, -20%);
  }

  .section-2 {
      transform: translate(35%, -30%);
  }

  .section-3 {
      transform: translateY(0%);
  }

  .sections p {
      width: 30%;
  }
}

.details {
  margin: 0 auto;
  text-align: center;
}

.details h1 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 50px;
  margin-top: 50px;
}

body.light .details h1 {
  color: rgb(8 31 77);
}

body.dark .details h1 {
  color: #ccc;
}

.details-content {
  margin: 0 auto;
}

.details-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.details-box {
  border-radius: 6px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 250px;
  display: grid;
  box-shadow: 0 3px 6px rgba(129, 129, 165, 0.24);
}

body.light .details-box {
  background: #fff;
}

body.dark .details-box {
  background: #444;
}

.details-icon {
  height: 60px;
  margin-bottom: 18px;
}

.details-title {
  font-size: 18px;
  margin-bottom: 6px;
  margin-top: 60px;
}

body.light .details-title {
  color: #ff69b4;
}

body.dark .details-title {
  color: #ff69b4;
}

.details-description {
  font-size: 14px;
  margin-bottom: 20px;
  margin: 0 auto;
}

body.light .details-description {
  color: #7a7a7a;
}

body.dark .details-description {
  color: #ccc;
}

.details-price {
  font-size: 18px;
  font-weight: bold;
}

body.light .details-price {
  color: #ff69b4;
}

body.dark .details-price {
  color: #ff69b4;
}

.details-button {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  width: 80%;
  height: 50px;
  font-weight: bold;
  margin: 0 auto;
}

body.light .details-button {
  background-color: #ff69b4;
  color: #fff;
}

body.dark .details-button {
  background-color: #ff69b4;
  color: #333;
}

body.light .details-button:hover{
  background-color: #ac8096;
}

body.dark .details-button:hover {
  background-color: #ac8096;
}

@media (max-width: 1120px) {
  .details-button {
      display: none;
  }
}

.details-info {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: 20px;
}

body.light .details-info {
  background-color: #f5f5f5e9;
}

body.dark .details-info {
  background-color: #333;
}

.details-info h1 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 20px;
  margin-top: 50px;
  padding-top: 40px;
}

body.light .details-info h1 {
  color: rgb(8 31 77);
}

body.dark .details-info h1 {
  color: #ccc;
}

.details-description {
  font-size: 16px;
  margin-bottom: 40px;
}

body.light .details-description {
  color: #7a7a7a;
}

body.dark .details-description {
  color: #bbb;
}

.details-info-content {
  margin: 0 auto;
}

.details-info-box-container {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.details-info-box {
  display: grid;
}

.details-info-icon {
  height: 40px;
  margin-bottom: 18px;
  margin-top: 30px;
}

.details-info-title {
  font-size: 18px;
  margin-bottom: 6px;
  margin-top: 20px;
}

body.light .details-info-title {
  color: #ff69b4;
}

body.dark .details-info-title {
  color: #ff69b4;
}

.details-info-description {
  font-size: 14px;
  margin: 0 auto;
  text-align: left;
}

body.light .details-info-description {
  color: #7a7a7a;
}

body.dark .details-info-description {
  color: #bbb;
}

.aide {
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
  overflow: hidden;
}

body.light .aide {
  background-color: #f5f5f5e9;
}

body.dark .aide {
  background-color: #333;
}

.aide h1 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 20px;
  margin-top: 50px;
  padding-top: 40px;
}

body.light .aide h1 {
  color: #ff69b4;
}

body.dark .aide h1 {
  color: #ccc;
}

.aide p {
  font-size: 16px;
  margin-bottom: 40px;
  text-align: center;
}

body.light .aide p {
  color: rgb(98 118 157);
}

body.dark .aide p {
  color: #bbb;
}

.aide-content {
  margin: 0 auto;
}

.aide-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.aide-box {
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aide-icon {
  height: 60px;
  margin-bottom: 70px;
}

.aide-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

body.light .aide-title {
  color: #ff69b4;
}

body.dark .aide-title {
  color: #ff69b4;
}

.aide-description {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
}

body.light .aide-description {
  color: #7a7a7a;
}

body.dark .aide-description {
  color: #bbb;
}

.aide-button {
  border: 1px solid #c7c8c9;
  border-radius: 10px;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: bold;
}

body.light .aide-button {
  background-color: #fff;
  color: #ff69b4;
}

body.dark .aide-button {
  background-color: #444;
  color: #ff69b4;
}

@media (max-width: 768px) {
  .aide h1 {
      width: 80%;
  }

  .aide p {
      width: 80%;
  }

  .aide-box-container {
      flex-direction: column;
      align-items: center;
  }
}

.blog-page {
  display: flex;
  flex-direction: column;
  font-family: 'Axiforma';
  padding: 20px;
}

.blog-title {
  margin-top: 40px;
  text-align: center;
}

.blog-title h1 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
}

body.light .blog-title h1 {
  color: rgb(8, 31, 77);
}

body.dark .blog-title h1 {
  color: #ccc;
}

.blog-box-container {
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  margin-top: 20px;
}

.blog-box {
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body.light .blog-box {
  background-color: white;
}

body.dark .blog-box {
  background-color: #444;
}

.blog-box-link {
  text-decoration: none; 
}

.blog-box-link:hover {
  text-decoration: none;
}

.blog-box:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.blog_img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.blog_title {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

body.light .blog_title {
  color: #ff69b4;
}

body.dark .blog_title {
  color: #fff;
}

.blog_description {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}

body.light .blog_description {
  color: rgb(8, 31, 77);
}

body.dark .blog_description {
  color: #bbb;
}

@media (max-width: 768px) {
  .blog-box-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #e05598;
}

.pagination button:focus {
  outline: none;
  background-color: #cc0077;
}

.pagination .active {
  background-color: #cc0077;
}

body.light .post-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f5f5f5;
}

body.dark .post-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #333;
}

body.light .post-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Axiforma';
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark .post-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Axiforma';
  max-width: 800px;
  margin: 0 auto;
  background-color: #444;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

body.light .post-detail h1,
body.dark .post-detail h1,
body.light .post-detail p,
body.dark .post-detail p {
  text-decoration: none; 
}

body.light .post-detail h1 {
  font-size: 36px;
  color: #ff69b4;
  margin-bottom: 20px;
  text-align: center;
}

body.dark .post-detail h1 {
  font-size: 36px;
  color: #ccc;
  margin-bottom: 20px;
  text-align: center;
}

body.light .post-detail p {
  font-size: 16px;
  line-height: 1.6;
  color: rgb(98, 118, 157);
  text-align: justify;
}

body.dark .post-detail p {
  font-size: 16px;
  line-height: 1.6;
  color: #bbb;
  text-align: justify;
}

@media (max-width: 768px) {
  body.light .post-detail,
  body.dark .post-detail {
    padding: 10px;
  }

  body.light .post-detail h1,
  body.dark .post-detail h1 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  body.light .post-detail p,
  body.dark .post-detail p {
    font-size: 14px;
  }
}


.search-bar {
  margin: 20px auto;
  padding: 10px 15px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

body.light .search-bar {
  background-color: #fff;
  color: #333;
}

body.dark .search-bar {
  background-color: #444;
  color: #fff;
  border: 1px solid #666;
}

.search-bar::placeholder {
  color: #999;
}

body.dark .search-bar::placeholder {
  color: #bbb;
}

.search-bar:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

