.sign-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: background-color 0.3s;
}

body.light .sign-page {
    background-color: #fbfdff;
}

body.dark .sign-page {
    background-color: #333;
}

.sign-page form {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

body.light .sign-page form {
    background-color: white;
    border: 1px solid #ccc;
}

body.dark .sign-page form {
    background-color: #444;
    border: 1px solid #555;
}

.sign-page input {
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    transition: background-color 0.3s, color 0.3s;
}

body.light .sign-page input {
    background-color: #fff;
    color: #000;
}

body.dark .sign-page input {
    background-color: #555;
    color: #fff;
}

.sign-page h2 {
    text-align: center;
    font-size: 30px;
}

body.light .sign-page h2 {
    color: rgb(30, 150, 252);
}

body.dark .sign-page h2 {
    color: #1e96fc;
}

.sign-page button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 50%;
    margin: 10px auto;
    margin-bottom: 0px;
    transition: background-color 0.3s, transform 0.3s;
}

body.light .sign-page button {
    background-color: rgb(30, 150, 252);
    color: white;
}

body.dark .sign-page button {
    background-color: #1e96fc;
    color: #333;
}

.sign-page button:hover {
    transform: scale(1.05);
}

body.light .sign-page button:hover {
    background-color: #0056b3;
}

body.dark .sign-page button:hover {
    background-color: #1a78d2;
}

.error {
    margin-bottom: 10px;
}

body.light .error {
    color: red;
}

body.dark .error {
    color: #ff3333;
}

.success {
    margin-bottom: 10px;
}

body.light .success {
    color: green;
}

body.dark .success {
    color: #00cc00;
}

.sign-page p {
    margin: 20px auto;
}

.sign-page a {
    text-decoration: none;
}

body.light .sign-page a {
    color: rgb(30, 150, 252);
}

body.dark .sign-page a {
    color: #1e96fc;
}

.sign-page a:hover {
    text-decoration: underline;
}
