.footer {
    color: #ffffff;
    padding: 50px 20px;
    padding-top: 15px;
    padding-bottom: 0px;
    background: linear-gradient(135deg, #0b358a, #04144d);
    overflow: hidden;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-left {
    width: 42%;
    align-items: start;
    text-align: left;
  }
  
  .footer-left h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 50px;

  }
  
  .footer-left .footer-description {
    font-size: 22px;
    line-height: 24px;
    text-align: left;
    color: white;

  }
  
  .footer-awards {
    display: flex;
    gap: 30px;
    margin: 30px 50px;
  }
  
  .footer-awards img {
    width: 80px;
    height: auto;
  }
  
  .footer-left .footer-disclaimer {
    font-size: 12px;
    margin-top: 20px;
    text-align: left;
    color: white;
    
  }
  
  .footer-disclaimer a {
    color: white;
    text-decoration: underline;
  }
  
  .footer-right {
    width: 20%;
margin-top: 60px;   
 text-align: left;
  }
  
  .footer-right h3 {
    font-size: 12px;
    margin-bottom: 20px;
    color: white;
  }
  
  .footer-right ul {
    list-style: none;
    padding: 0;
  }
  
  
  .footer-right ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
  }
  
  .footer-right ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
  }
  
  .footer-socials {
    background-color: rgb(224, 191, 8);
    display: flex;
    gap: 20px;
    padding: 30px;
    margin-top: -30px;
  }
  
  .footer-socials svg {
    width: 24px;
    height: 24px;
    fill: #ffffff;
  }

  .footer-left .links a{
    text-decoration: none;
  }
  
  .footer-bottom p {
    font-size: 12px;
    color: white;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-left, .footer-right {
      width: 100%;
    }
  
    .footer-bottom {
      flex-direction: column;
      gap: 10px;
    }

    .footer-socials{
      width: 100%;
      align-items: center;
      text-align: center;
      gap:0px;
      
    }
    .footer-socials svg {
     margin: 0 auto ;


    }
  
    .footer-right {
      margin-left: 70px;

    }
  }
  