@font-face {
  font-family: 'Axiforma';
  src: url('./Fonts/Kastelov\ \ Axiforma\ Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('./Fonts/Kastelov\ \ Axiforma\ Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('./Fonts/Kastelov\ \ Axiforma\ Italic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


body {
  font-family: 'Axiforma';
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

